# Python compiled files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/
.venv/

# Jupyter Notebook backups
.ipynb_checkpoints/

# Editor & OS files
.vscode/
.idea/
.DS_Store

# Build outputs & logs
build/
dist/
*.log
.cache/

# Large raw data files (if not committing them)
*.tif
*.zip
